@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=JetBrains+Mono&display=swap');
:root {
    --body-background: #800080;
    --project-background: #2274A5;
    --font-color: #EAFFFD;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Jetbrains Mono', sans-serif;
    background-color: var(--body-background);
    height: 100vh;
    margin: 0;
}

.container {
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container h1 {
    text-shadow: 2px 2px rgb(10, 10, 10);
}

.container h2 {
    font-family: 'Inconsolata', monospace;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 70%;
    justify-content: center;
}

.projects .project {
    align-items: center;
    justify-content: center;
    background-color: var(--project-background);
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    margin: 5px 10px;
    padding: 10px 15px;
    width: 350px;
    height: 150px;
}

.project:hover,
.project-a {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.project-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: var(--font-color);
    width: 100%;
    height: 100%;
}

.projecttitle {
    font-weight: bold;
    margin: 0;
    padding-right: 10px;
    text-shadow: 2px 2px rgb(10, 10, 10);
}

.project p {
    font-size: 12px;
    font-family: 'Inconsolata', monospace;
}